#container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    display: flex;
    width: 40%;
    min-width: 500px;
    height: 400px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 10px 0;
    margin-bottom: 20px;
}

.card__img {
    width: 50%;
    text-align: center;
    border-right: 1px solid lightgrey;
    cursor: pointer;
}

.card__description {
    width: 50%;
    overflow-y: auto;
    text-align: center;
    padding: 15px;
}

.card__img > img {
    height: 400px;
}
